     * {
         margin: 0;
         padding: 0;
         font-size: medium;

     }

     body {
         min-height: 100vh;
         background-color: oklch(100% 0.00011 271.152);
     }

     nav {
         position: static;
         border: 0.2px solid;
         border-color: #B6B5B4;
         border-radius: 1px;
         background-color: #ffffff;
         margin: 0;
         padding: 0;
         display: flex;
         flex-wrap: nowrap;
     }

     nav ul {

         width: 100%;
         display: flex;
         justify-content: flex-end;
         align-items: center;
     }

     nav li {
         list-style: none;
         height: 50px;
         list-style: none;
         letter-spacing: 1px;

     }

     nav a {
         text-decoration: none;
         display: flex;
         padding: 15px 30px;
         color: #0F2854;

     }

     nav li:first-child {
         margin-right: auto;
     }

     .shop {
         position: relative;
         right: 51%;

     }

     .contact {
         position: relative;
         right: 50rem;

     }

     .About {
         position: relative;
         right: 820px;

     }

     .logo {
         position: relative;
         right: 34%;
         font-size: large;
         color: #06402B;
         font-family: rostex;
         position: fixed;
     }

     /*my cart*/
     .mc {
         position: relative;
         right: 72px;
         top: 2px;
         border-radius: 50px;
         height: 30px;
         width: 150px;
         padding-left: 20px;

         border-width: 1px;
         box-sizing: border-box;
         border: 1px solid #0F2854;
     }

     .cart {
         position: relative;
         bottom: 10px;
     }

     /*my cart hover*/
     .mc:hover {
         background-color: #974CDD;
         transition: 0.5s;
         border-color: azure;

     }

     .cart:hover {
         color: #ffffff;
     }

     .home {
         position: relative;
         right: 27px;

     }

     .profile {
         border: 1px solid #0F2854;
         width: 43px;
         height: 40px;
         position: relative;
         right: 30px;
         border-radius: 100%;
         box-shadow: 0 1px 2px;
     }

     nav a:active {
         color: #fd5a15;
     }

     nav a:hover {
         color: #974CDD;
     }

     .logo {
         width: 80px;
         height: 20px;
         position: relative;
         top: 2px;
     }

     .search {
         width: 30px;
         height: 20px;
         position: relative;
         top: 5px;
         right: 155px;
         color: #0F2854;
     }

     .search:hover {

         height: 25px;
         color: #974CDD;
     }

     .case {
         position: relative;
         width: 14px;
         height: 20px;
         right: 8px;
         bottom: 1px;
     }

     .notify {
         position: relative;
         right: 115px;
         height: 21px;
         width: 30px;
         top: 5px;
         color: #0F2854;
     }

     .notify:hover {

         height: 25px;
         color: #974CDD;
     }

     .account {
         position: relative;
         right: 35px;
         height: 28px;
         width: 34px;
         top: 4px;
         color: #0F2854;
     }

     .account:hover {
         height: 30px;
         color: #974CDD;
     }

     /*banner 1*/

     .banner1{
         position: relative;
         left: 30px;
         margin-top: 12px;
     }
     .banner2{
         position: relative;
         left: 30px;
         margin-top: 12px;
     }
     .banner3{
         position: relative;
         left: 30px;
         margin-top: 12px;
     }
     input{
        height: 10px;
        color: #000000;
        width: 20px;
        position: relative;
        left: 45%;
       
     }
      .siders{
  background-color: #860c0c;
        border-radius: 2px;
        display: flex;
        align-content : start;
      
     }
     .sides{
        display: flex ;
        overflow: hidden;
      

     }
    