.navigation-container {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #8C3B1F;
  z-index: 999;
  animation: anime 0.5s ease forwards;
 
  /* border: 2px solid #F4EDE3; */
  box-shadow: 2px 2px 10px rgb(0, 0, 0);

}
@keyframes anime {
  from{
    opacity: 0;
    transform: translateY(-40px);
  }
  to{
    opacity: 1;
transform: translateY(0);
  }
}

.nav {
  font-weight: 500;
font-size: large;
  text-decoration: none;
  color: #F4EDE3;
 border-radius: 5px;

}
a {
  text-decoration: none;
  position: relative;
  transition: color 0.5s ease;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff, transparent);
  background-size: 300% 100%;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 15px;
}

.nav:hover {
  color: #c4c8cd;
}

.nav:hover::after {
  opacity: 1;
  animation: shimmer111 2s linear infinite !important;
}

@keyframes shimmer111 {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.search:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.bell:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.case {
  position: relative;
  top: 2px;
  right: 3px;
}
.account:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.acc-close {
 position: relative;
  left: 222px;
  bottom: 3px;

}

.acc-close:hover {
  transform: rotate(70deg);
  transition: 1s;

}

/* Account signin box  */

.login {
  margin-left: 50px;

  position: absolute;
  top: 140%;
  right: 0;
  display: none;
  height: 120px;
  width:17%;
  background-color: #ffffff;
  border: 1px solid rgb(62, 62, 64);
  border-radius: 10px;

}

.sign-in {
  position: relative;
  right: 20px;
  top: 20px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  font-weight: 600;
  background-color: #8C3B1F;

}

.sign-out {
  position: relative;
  border: 0.3px solid black;
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  right: 10px;
  top: 20px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-weight: 600;

}

.sign-out:hover,.log:hover,.sign-in:hover{
  opacity: 0.9;
}

.log {
  position: relative;
  top: 30px;
  right: 2px;
  border-radius: 5px;
  background-color: rgb(43, 228, 43);
  border: none;
  color: white;
  height: 40px;
  width: 190px;
  font-weight: 600;

} 

.image-container{
 display: flex;
 flex-direction: row;
height: 463px;
justify-content: center;
width: 100%;
background-color: #EDE8D0;
object-fit: cover;
gap: 10px;
  animation: anime 0.5s ease forwards;

}

.banner-img2{
height: 550px;
width: 100%;
box-shadow: 1px 1px 10px rgb(143, 142, 142);
}
.banner-img{
height:460px;
width: 100%;
box-shadow: 1px 1px 10px rgb(143, 142, 142);
}
.para-container{
  display: flex;
  justify-content: space-between;
}
.p1{
  font-size: x-large;
  font-family: monospace;
 
  color:#8C3B1F;
  letter-spacing: 1px;

  padding-bottom: 8px;
  font-weight: 600;

  /* text-shadow: -3px 5px 5px rgb(117, 115, 115); */
}
.p2{
  font-size: large;
  font-family: monospace;
  font-weight: 100;
  padding-left: 4%;
  color: #8C3B1F;
}
.filter-nav-container{
 
  display: flex;
  margin: auto;
   margin-top: 5%;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  min-height:50px ;
  border-radius: 28px;
  background-color: black;
  border: 1px solid rgb(26, 26, 26);
  animation: filter 1s ease forwards;
}
@keyframes filter{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
.filter-nav{
  color: white;
}
input{
  min-height:30px;
  width: 15%;
  border-radius: 16px;
  border: none;
  outline: none;
  text-align: center;
}
input:hover{

  box-shadow:0 0 5px white;
}
.filter-icon{
position: relative;
top: 5.5px;left: 3px;
opacity: 0;
}
.filter-nav:hover{
color: orange;

}
.filter-nav:hover .filter-icon{
color: orange;
opacity: 1;
transition: 0.3s ease-in-out;

}
.filter-nav:active{
color: black;
}
.sort{
  position: absolute;
  top: 93.9%;
  right: 38rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 150px;
  width:15%;
  border: 1px solid rgb(0, 0, 0);
  font-size: medium;
  display: none;
  }
  .drop{
    color: rgb(1, 1, 19);
    font-weight: 500;
  }
  .sort-drop:hover.sort{
display:block;
  }